@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #4d1a43;
$secondary_color: #fc3874;
$background: #53e7ff;
$border: #fbcf00;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Archivo Bold';
	src: url(fonts/Archivo-Bold.ttf);
}

@font-face {
	font-family: 'Archivo Regular';
	src: url(fonts/Archivo-Regular.ttf);
}

@font-face {
	font-family: 'Archivo SemiBold';
	src: url(fonts/Archivo-SemiBold.ttf);
}

@font-face {
	font-family: 'Candy Shop Black';
	src: url(fonts/Candy-Shop-Black.ttf);
}

@font-face {
	font-family: 'MyriadPro It';
	src: url(fonts/MyriadPro-It.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* General */

.xoo-wsc-basket {
	right: 10px;
}

.grecaptcha-badge {
	bottom: 120px !important;
}

/* Top */

.top {
	padding: 90px 0 40px 0;
	background: {
		image: url(top_2_bg.png), url(top_1_bg.png);
		position: top, center;
		repeat: repeat-x, no-repeat;
	}
	.moduletable_to2 {
		.mega-menu-wrap {
			ul.mega-menu {
				li {
					&.mega-menu-item-17 {
						width: 242px !important;
						max-height: 84px;
						margin-top: -100px !important;
						a {
							width: 242px !important;
							height: 84px !important;
							background: {
								image: url(logo.svg) !important;
								position: center !important;
								repeat: no-repeat !important;
							}
							color: transparent !important;
							position: absolute !important;
							z-index: 10;
						}
					}
					a {
						font-family: 'Candy Shop Black' !important;
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	background: {
		image: url(content_bg.png);
		position: center;
	}
	font: {
		family: 'Archivo Regular';
		size: 18px;
	}
	.asterisk {
		color: red;
	}
	h2 {
		font: {
			family: 'Archivo Bold';
			size: 40px;
		}
	}
	a {
		&.button {
			padding: 10px;
			background-color: $border;
			border-radius: 0;
			font: {
				family: 'Archivo Bold';
				size: 24px;
			}
			color: $primary_color;
		}
	}
	ul {
		li {
			padding-left: 25px;
			list-style: none;
			background: {
				image: url(li_bg.png);
				position: 4px 8px;
				repeat: no-repeat;
			}
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.title_products {
		margin-bottom: 30px;
	}
	nav.bellows {
		margin: 0;
		background-color: $border !important;
		box-shadow: none;
		ul.bellows-nav {
			padding: 10px !important;
			li.bellows-menu-item {
				&.bellows-current_page_item {
					a {
						background-color: transparent !important;
						color: $secondary_color !important;
					}
				}
				&.bellows-menu-item-has-children.bellows-active {
					a {
						&.bellows-target {
							background-color: transparent !important;
							color: $secondary_color !important;
						}
					}
				}
				a.bellows-target {
					padding: 10px 0;
					background: transparent !important;
					color: $primary_color !important;
					&:hover {
						background-color: transparent !important;
						color: $secondary_color !important;
					}
				}
			}
		}
	}
	.woocommerce {
		h1 {
			margin-bottom: 30px;
		}
		ul.products {
			li {
				margin-bottom: 10px;
				background-image: none;
				text-align: center;
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						height: 400px;
						margin-bottom: 0;
						padding: 10px;
						/*border: 1px solid #ccc;*/
						background-color: #fff;
						object-fit: contain;
					}
					h2.woocommerce-loop-product__title {
						width: 100%;
						padding: 10px 0 !important;
					}
				}
				a.button {
					margin: 0;
				}
			}
		}
		.product {}
		a,
		button {
			&.button {
				padding: 10px;
				background-color: $border;
				border-radius: 0;
				font: {
					family: 'Archivo Bold';
					size: 24px;
				}
				color: $primary_color;
			}
		}
		nav.woocommerce-pagination {
			ul {
				li {
					background-image: none;
				}
			}
		}
		.custom_cart {
			display: flex;
			.woocommerce-cart-form {
				width: 65%;
			}
			.cart-collaterals {
				width: 35%;
				.cart_totals {
					width: 95%;
					.wc-proceed-to-checkout {
						text-align: center;
						a.button.whatsapp {
							background-color: #25d466;
							border-radius: 50px;
							font-size: 18px;
							color: #fff;
						}
					}
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 40px 0;
	.moduletable_b11 {
		.product {
			figure {
				a.wpb_pro_img_url {
					img {
						height: 285px;
						object-fit: contain;
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 40px 0;
	background: {
		image: url(block_2_1_bg.png), url(block_2_2_bg.png);
		position: top, center;
		repeat: no-repeat, no-repeat;
		size: cover, cover;
	}
	.moduletable_b21 {
		.owl-carousel {
			.owl-item {
				.sa_hover_container {
					text-align: center;
					p {
						margin: 0;
					}
					img {
						max-height: 200px;
					}
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0;
	background: {
		image: url(bottom_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	color: #fff;
	a {
		color: #fff;
	}
	.moduletable_bo1 {
		padding-bottom: 40px;
		font: {
			family: 'Archivo SemiBold';
			size: 24px;
		}
		#a {}
		#b {
			border: {
				left: 1px solid $border;
				right: 1px solid $border;
			}
		}
		#c {}
	}
	.moduletable_bo1 {
		font: {
			family: 'Archivo SemiBold';
			size: 20px;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			.mega-menu-wrap {
				ul.mega-menu {
					li {
						&.mega-menu-item-17 {
							display: none !important;
						}
					}
				}
			}
		}
	}

	/* Content */

	.content {
		.woocommerce {
			.custom_cart {
				display: inherit;
				.woocommerce-cart-form {
					width: 100%;
				}
				.cart-collaterals {
					width: 100%;
				}
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}